body {
  text-align: center;
  font-family: 'Varela Round',sans-serif;
}

table {
  margin: 2rem 0 1rem 0;
  margin-left: auto;
  margin-right: auto;
}

table,td {
  border: 1px solid;
  border-collapse: collapse;
}

td {
  padding: 10px 20px;
  font-family: 'Bellota Text', cursive;
  font-size: 24px;
}

/* Sudoku grid borders */
td:first-child {
  border-left: 3px solid;
}
td:nth-child(3n) {
  border-right: 3px solid;
}
tr:first-child {
  border-top: 3px solid;
}
tr:nth-child(3n) td {
  border-bottom: 3px solid ;
}

/* Sudoku select colors */
.selected {
  background-color: #DAF7FF;
}
.hover {
  background-color: #f5f5f5;
}

/* Main Page */
.title {
  margin: 2rem;
}

.difficulty {
  margin-top: 2rem;
}

.solve-reset {
  margin: 1rem;
}

.title-bottom {
  margin-top: 2rem;
  font-size: 14px;
}

/* Explanation Page */
#explanation {
  margin: 4rem auto;
  width: 75%;
}

.learn-title {
  padding: 2rem 1rem;
  color: white;
  background-color: #333333;
}

.explain-text {
  padding-top: 2rem;
  margin: 0 auto;
  width: 65%;
  font-size: 20px;
}

.explain-img {
  padding-top: 2rem;
  width: 60%;
}

.explain-img2 {
  padding-top: 2rem;
  width: 40%;
}

.explain-img3 {
  padding-top: 2rem;
  width: 50%;
}
